
<% if current_user %>
<p>You are now logged in as <%= current_user.username %>
</p>

<%= link_to "Your Account", user_path(current_user) %>
<% else %> 
<%= notice %>

<div class = "login">
<h1>welcome</h1>


<%= form_for :login do |f| %>

	<div>
		<%= f.label :email %>
		<%= f.text_field :email, id: "email", placeholder: "email"%>
	</div>

	<div>
		<%= f.label :password %>
		<%= f.password_field :password, id: "password", placeholder: "password"%>
	</div>

	<div>
		
		<%= f.submit "Log In", class: "login_button"  %>
	</div>

<% end %>

</div>
<%= link_to "Sign Up", new_user_path %>
<% end %>