<h1> All Blogs</h1>
<div>
<% if current_user %>
<%= link_to 'Create a New Blog', new_user_blog_path(current_user.id) %>
<%end %>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Country</th>
    <th>Description</th>
  </tr>
 
  <% @blogs.each do |b| %>
    <tr>
      <td><%= b.title %></td>
      <td><%= b.country %></td>
      <td><%= b.description %></td>
      <td><%= link_to 'Show', [b] %></td>
      <% if current_user %>
      <td><%= link_to 'Delete', [b],
              method: :delete,
              data: { confirm: 'please login to delete this post' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<% if current_user %>
<%= link_to 'Back', user_path(current_user.id) %>
<%= link_to "Log Out", logout_path, method: :delete %>
<% end %>