<h1> All Blogs</h1>


<div>
<% if current_user %>
<%= link_to 'Create a New Blog', new_user_blog_path(current_user.id) %>
</div>

<table>
  <tr>
    <th>Title</th>
    <th>Country</th>
    <th>Description</th>
  </tr>
 
  <% @blogs.each do |b| %>
    <tr>
      <td><%= b.title %></td>
      <td><%= b.country %></td>
      <td><%= b.description %></td>
      <td><%= link_to 'Show', [b] %></td>
      <td><%= link_to 'Delete', [b],
              method: :delete,
              data: { confirm: 'please login to delete this post' } %></td>
    </tr>
    <% end %>
</table>

<%= link_to 'Back', user_path(current_user.id) %>
<%= link_to "Log Out", logout_path, method: :delete %>

<% else %>
<table>
  <tr>
    <th>Title</th>
    <th>Country</th>
    <th>Description</th>
  </tr>

<% @blogs.each do |b| %>
  <tr>
    <td><%= b.title %></td>
    <td><%= b.country %></td>
    <td><%= b.description %></td>
    <td><%= link_to 'Show', [b] %></td>
  </tr>
  <% end %>
</table>
  <%= link_to "Login", login_path %>
  <%= link_to "Sign Up", new_user_path %>

<% end %>

<div id="address-map" style="width: 100%; height: 400px;"></div>  