<%= notice %>

<% if current_user %> <!-- if current_user and user is login are true display below -->
 
  <h2>Blogs</h2>
  <table>
  <tr>
    <th>Title</th>
    <th>Country</th>
    <th>Description</th>
  </tr>
 
  <% current_user.blogs.each do |b| %>
    <tr>
      <td><%= b.title %></td>
      <td><%= b.country %></td>
      <td><%= b.description %></td>
      <td><%= image_tag b.image.url(:large) %></td>
      <td><%= link_to 'Show', [b] %></td>
      <td><%= link_to 'edit', edit_user_blog_path(current_user.id, b.id) %></td>
      <td><%= link_to 'Delete', [b],
              method: :delete,
              data: { confirm: 'please login to delete this post' } %></td>
    </tr>
    <% end %>
</table>

  <div>

  <h2>Add a new blog</h2>
  <%= link_to "New Blog", new_user_blog_path(current_user.id) %>
  </div>

  <div> 
  <!-- provide button for user to logout -->
  <%= link_to "Log Out", logout_path, method: :delete %>
  <%= link_to "Profile", user_path(@user.id) %>
  <%= link_to "Back to all Blogs", blogs_path %>
  <%= link_to "Edit", edit_user_path(@user.id) %>
  <%= link_to "Delete", user_path(@user.id), method: :delete, data: { confirm: "Are you sure you want to delete your account?"} %>
  </div>

<% else %> <!-- if user doesn't exist or not login -->
  <div>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Log In", login_path %>
  </div>
<% end %>