<h1>this blogs</h1>

		<div>
			<p>
				<strong>Title: </strong><%= @blog.title %>
			</p>
			<p>
				<strong>Country: </strong><%= @blog.country%>
			</p>
			<p>
				<strong>Picture: </strong><%= @blog.description %>
			</p>
			<p>
				<strong>Description: </strong><%= @blog.description%>
			</p>
		</div>
		<div>
			<td><%= link_to "User's Profile", user_page_path(@blog.user_id) %>
      </td>
		</div>
	

 

