<p id="notice"><%= notice %></p>
<h1>User List</h1>
 
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Username</th>
    <th>Email</th>
    <th>About Me</th>
    <th>Profile Pic</th>
   

  </tr>
 
  <% @users.each do |u| %>
    <tr>
      <td><%= u.first_name %></td>
      <td><%= u.last_name %></td>
      <td><%= u.username %></td>
      <td><%= u.about_me %></td>
      <td><%= u.profile_pic %></td>
      <td><%= link_to "Show", user_page_path(u.id) %>
      </td>
    </tr>
  <% end %>

</table>
 <%= link_to "Add new user", new_user_path %>

