<div class = "profile" >

<%= notice %>
<% if current_user %>
 <!-- if current_user and user is login are true display below -->
 
  <p>
  <strong>User Name: </strong><%= @user.username %>
  </p>
  <p>
  <strong>First Name: </strong><%= @user.first_name%>
  </p>
  <strong>Last Name: </strong><%= @user.last_name%>
  </p>
  <strong>Email Name: </strong><%= @user.email%>
  </p>
  </p>
  <strong> About Me: </strong><%= @user.about_me%>
  </p>
  </p>
  <strong>Profile Picture: </strong><%= image_tag @user.image.url(:large)%>
  </p>

  <div>
  <!-- provide button for user to logout -->
    <%= link_to "Log Out", logout_path, method: :delete, class: "btn btn-s btn-success" %>
    <%= link_to "Your blogs", my_blogs_path(@user.id), class: "btn btn-s btn-success"%>
    <%= link_to "Edit", edit_user_path(@current_user), class: "btn btn-s btn-success"  %>

    <%= link_to "Delete", user_path(@user.id), class: "btn btn-s btn-success", method: :delete, data: { confirm: "Are you sure you want to delete your account?"} %>
  </div>

<% else %><!-- if user doesn't exist or not login -->
  
  <div>
    <%= link_to "Sign Up", new_user_path , class: "btn btn-s btn-success" %>
    <%= link_to "Log In", login_path, class: "btn btn-s btn-success" %>
  </div>
<% end %>

</div>


