<h2>Blogs</h2>
  <table>
  <tr>
    <th>Title</th>
    <th>Country</th>
    <th>Description</th>
  </tr>
 
  <% @user.blogs.each do |b| %>
    <tr>
      <td><%= b.title %></td>
      <td><%= b.country %></td>
      <td><%= b.description %></td>
      <td><%= link_to 'Show', [b] %></td>
      <td><%= link_to 'Delete', [b],
              method: :delete,
              data: { confirm: 'please login to delete this post' } %></td>
    </tr>
    <% end %>
</table>