
<% if current_user %>

  <p>
  <strong>User Name: </strong><%= @user.username %>
  </p>
  <p>
  <strong>First Name: </strong><%= @user.first_name%>
  </p>
  <strong>First Name: </strong><%= @user.last_name%>
  </p>
  <strong>First Name: </strong><%= @user.email%>
  </p>
  </p>
  <strong>First Name: </strong><%= @user.about_me%>
  </p>
  </p>
  <strong>First Name: </strong><%= @user.profile_pic%>
  </p>
  <div>
  <!-- provide button for user to logout -->
    <%= link_to "Log Out", logout_path, method: :delete %>
    <%= link_to "Visit this user's blogs", user_all_blogs_path(@user.id) %>
    <%= link_to "Edit", edit_user_path(@user.id) %>
    <%= link_to "Delete", user_path(@user.id), method: :delete, data: { confirm: "Are you sure you want to delete your account?"} %>
  </div>
<% else %>
<p>
  <strong>User Name: </strong><%= @user.username %>
  </p>
  <p>
  <strong>First Name: </strong><%= @user.first_name%>
  </p>
  <strong>First Name: </strong><%= @user.last_name%>
  </p>
  <strong>First Name: </strong><%= @user.email%>
  </p>
  </p>
  <strong>First Name: </strong><%= @user.about_me%>
  </p>
  </p>
  <strong>First Name: </strong><%= @user.profile_pic%>
  </p>
 <div>
    <%= link_to "Visit this user's blogs", user_all_blogs_path(@user) %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Log In", login_path %>
    <%= link_to "Back", blogs_path %>
  </div>
<% end %>
