<!DOCTYPE html>
<html lang="en">
<head>
	
	<title>BConnect</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	  <!-- Add the jQuery library from CDN -->
	 <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	 <!-- Add the google maps library -->
	<script src="//maps.googleapis.com/maps/api/js"></script>
	<!-- Add JS from the asset pipeline afterwards -->
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
</head>
<body>

<div id="search">
 	 <%= render :partial => 'blogs/search' %> 
 </div>

  <hr>
<!-- <%# if current_user %>
<h3>Account: <%#= current_user.username %></h3>
<h3>Email Address: <%#= current_user.email %> </h3>
<%# end %> -->
<%= yield %>

</body>
</html>
